body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: peru;
    margin: 0;
    padding: 20px;
    background-image: url(https://images.unsplash.com/photo-1746792613213-c154e2891449?q=80&w=1875&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header{
    border: 2px solid black;
    background-color: burlywood;
    color: black;
    text-align: center;
    padding: 20px;
    width: 95%;
    margin: 20px auto;
    border-radius: 8px;
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section{
    max-width: 800px;
    margin:200px auto;
    padding: 20px;
    background: burlywood;
    border-radius: 8px;
    border: 2px solid black;
    text-align: center;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

footer{
    text-align: center;
}
/* dark mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: white;
    
}

body.dark-mode header {
    background-color: #333;
    color: white;
    border-color: white;
}

body.dark-mode nav a {
    color: white;
}

body.dark-mode section {
    background-color: #2b2b2b;
    color: white;
    border-color: white;
}

body.dark-mode footer {
    color: white;
}
#darkToggle {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 6px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

body.dark-mode #darkToggle {
    background-color: #444;
    color: white;
    border-color: white;
}
